<ion-view view-title="Ticket">
    <ion-content>
      <div class="item item-divider">
        <h2>{{ticket.title}}</a></h2>
      </div>
      <!--<div class="item item-body" ng-bind-html="ticket.snippet">

      </div>-->
      <div class="item item-body">
        <h2>Body : {{ticket.body}}</h2>
      </div>
      <div ng-repeat="label in ticket.labels">
        <i class="fa {{label.icon}} text-{{label.colour}}" ></i>
        <span class="button button-small button-clear ion-ios7-clos-outline icon-right">#{{label.label}}</span>
      </div>
      <div class="item item-divider">
        Footer Example
      </div>
      <div class="bar bar-footer">
      <button class="button button-full button-positive" ng-click="showActionsheet()">
        Actions
      </button>
      </div>
    </ion-content>
</ion-view>
